/* Code commun à toutes les pages */

@font-face{
    src: url(../assets/Arimo-VariableFont_wght.ttf);
    font-family: Arimo;
}

html{
    scrollbar-gutter: stable;
    font-family: "Arimo", sans-serif;
}

/* Page de connection */

.login{
    background-color: #60adc4;
}

.login body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.login div.connection_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 20px;
    border-color:#9cd7ff;
    padding: 50px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.login div.input_box{
    border-bottom: solid;
    border-color:#9cd7ff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login div.input_fields{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 7px;
    width: 200px;
    height: 65px;
}

.login div.input_fields input{
    font-size: large;
    width: 185px;
    height: 65px;
    border: 2px solid #9cd7ff;
    border-radius: 20px;
    padding-left:10px;
}

.login div.input_fields input:focus{
    outline: none;
    border-color:#60adc4;
}

div.buttons{
    display: flex;
    gap: 30px;
}

div.buttons button{
    height: 50px;
    width: 140px;
    font-size: large;
    border-radius: 30px;
    border: solid;
    border-color:#9cd7ff;
    background-color: white;
}

div.buttons button:hover{
    cursor: pointer;
    border-color:#60adc4;
}

.login body .response{
    min-height: 30px;
    display: flex;
    font-size: 15px;
    color: red;
}

/* Page d'accueil */

body{
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    gap: 15px;
    padding-left: 400px;
    padding-right: 400px;
    font-size: large;
}

.connection_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.connection_info p{
    margin: 0;
    padding: 0;
}

.user_id{
    font-style: italic;
    font-size: smaller;
}

.logo{
    justify-content: right;
    border-style: solid;
    border-width: 4px; 
    border-radius: 300px;
    border-color:#9cd7ff;
}

.menu{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.menu ul{
    color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: default;
    border: solid;
    border-radius: 25px;
    border-width: 4px;
    border-color:#9cd7ff;
    background-color: #60adc4;
    height: 45px;
    width: fit-content;
    gap: 20px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.menu ul li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu ul li:hover{
    border-bottom: solid;
    border-width: 2.5px;
    color:#9cd7ff;
    cursor: pointer;
}

.current{
    border-bottom: solid;
    border-width: 2.5px;
    color:#9cd7ff;
    cursor: pointer;
}

.solde .balance_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solde .balance{
    font-size: xx-large;
    border-top: solid;
    padding: 50px;
    width: auto;
    margin: 0;
    border-color:#9cd7ff;
    border-radius: 50%;
    border-width: 3px;
}

.solde .balance_text{
    margin: 0;
    padding-bottom: 80px;
}

.solde .title{
    font-size: larger;
}

.solde .history_grid ul{
    color: white;
    list-style: none;
    display: flex;
    width: 700px;
    padding: 0;
    margin: 0;
}

.solde .history_grid li{
    border: solid;
    width: 300px;
    padding: 10px;
    border-color:#9cd7ff;
    color: black;
}

.solde .history_grid .default li{
    background-color: #60adc4;
    color: white;
}