/* Code commun à toutes les pages */

@font-face{
    src: url(../assets/Arimo-VariableFont_wght.ttf);
    font-family: Arimo;
}

html{
    scrollbar-gutter: stable;
    font-family: "Arimo", sans-serif;
}

/* Page de connection */

.index{
    background-color: #60adc4;
}

.index body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.connection_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 20px;
    border-color:#9cd7ff;
    padding: 50px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.index div.input_box{
    border-bottom: solid;
    border-color:#9cd7ff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.index div.input_fields{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 7px;
    width: 200px;
    height: 65px;
}

.index div.input_fields input{
    font-size: large;
    width: 185px;
    height: 65px;
    border: 2px solid #9cd7ff;
    border-radius: 20px;
    padding-left:10px;
}

.index div.input_fields input:focus{
    outline: none;
    border-color:#60adc4;
}

.index div.buttons{
    display: flex;
    gap: 30px;
}

.index div.buttons button{
    height: 50px;
    width: 140px;
    font-size: large;
    border-radius: 30px;
    border: solid;
    border-color:#9cd7ff;
    background-color: white;
}

.index div.buttons button:hover{
    cursor: pointer;
    border-color:#60adc4;
}

.index body .response{
    min-height: 30px;
    display: flex;
    font-size: 15px;
    color: red;
}

/* Page d'accueil */

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 100px;
}

.connection_info{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: default;
    background-color: #60adc4;
    height: 45px;
    gap: 20px;
}

.menu ul li{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu ul li:hover{
    border-bottom: solid;
    border-width: 2.5px;
    cursor: pointer;
}